{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container py-5">
  <div class="position-relative border-bottom pb-5">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <img class="account-img" src="{{ student.image.url }}" />
      </div>
      <div class="col-lg-8 col-md-7 col-sm-12 pt-2">
        <h4> {{ student.user.get_full_name }} </h4>

        {% if student.bio %}
          <p><strong>{{student.bio}}</strong> </p>
        {% else %}
          <p class="edit-link">Bio: </a></p>
        {% endif %}
        <p>{{ student.description |linebreaks}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h4 class="text-center py-4">My Courses</h4>
    <div class="row justify-content-center suggested-courses">
        {% for student_course in student.courseparticipant_set.all %}
        <div class="card col-lg-3 col-md-6 col-sm-6 col-xs-12 border-0">
          <div class="class-item">
            <a href="{% url 'course_detail' student_course.course.id %}">
              <img
                class="card-img-top"
                src="{{student_course.course.image.url}}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">{{student_course.course.name}}</h5>
                <ul>
                  {% if student_course.course.min_age and student_course.course.max_age %}
                  <li>Ages {{student_course.course.min_age}}-{{student_course.course.max_age}}</li>
                  {% elif student_course.course.min_age %}
                  <li>Ages {{student_course.course.min_age}}+</li>
                  {% elif student_course.course.max_age %}
                  <li>Ages {{student_course.course.max_age}}+</li>
                  {% else %}
                  <li>Ages No limit</li>
                  {% endif %}
                  <li>Type - {{student_course.course.room_type}}</li>
                </ul>
                <div class="trainer-info">
                  <img
                    class="rounded-circle"
                    alt="tutor picture"
                    src="{{student_course.course.teacher.image.url}}"
                  />
                  <div class="trainer-detail">
                    <h5 class="m-0">{{student_course.course.teacher.user.get_full_name}}</h5>
                    <p class="font-italic">{{student_course.course.teacher.bio}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      {% empty %}
        The student has not registered for any course.
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
</div>
