footer h5 {
    margin-bottom: var(--gap-xl);
}

footer .list-unstyled li:not(:last-child) {
    margin-bottom: 8px;
}

footer .list-unstyled li a {
    display: inline-block;
    padding: var(--gap-m) calc(2 * var(--gap-m));
    border-radius: var(--border-radius-l);
    transition: var(--transition-fast);
}

footer .list-unstyled li a:hover {
    background-color: var(--color-grey);
}

footer .list-group-horizontal.list-group {
    margin: 0 calc(-1 * var(--gap-s));
}

footer .list-group-horizontal .list-group-item {
    padding: 0;
}

footer .list-group-horizontal .list-group-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 var(--gap-s);
    transition: var(--transition-fast);
    border-radius: var(--border-radius-round);
}

footer .list-group-horizontal .list-group-item a:hover {
    background-color: var(--color-grey);
}